/* Theme Change and Theme Panel */
.theme-panel .theme-colors>li.theme-color-green .theme-color-view {
    background: #76BE1E;
}

/* Pace scroll edit */
.pace .pace-progress {
    top: 0;
}
.pace .pace-activity {
    top: 4px;
    z-index: 10000;
}

/* tinymce */
div.mce-fullscreen {
    z-index: 9995 !important;
}

/* Datatable */
.lmcDataTable .table-light > tbody > tr > td {
    vertical-align: top !important;
}
.child-table tr > td:first-child, .child-table tr > th:first-child {
    text-align: left !important;
    padding-left: 10px !important;
}
.table-advance td.highlight div.warning {
    position: relative !important;
    margin-right: 5px !important;
}

/* Bootstrap Touch Spin */
div.bootstrap-touchspin button.btn-outline {
    z-index: 3 !important;
}

/* colorbox */
#colorbox, #cboxOverlay {
    z-index: 10052 !important;
}

/* bootstrap dropdown scroll */
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/* cube portfolio */
.cbp-popup-singlePage-open, .cbp-popup-wrap {
    z-index: 10105!important;
}

/* Bootstrap Modal */
body.modal-open {
    overflow: hidden !important;
}

/* Bootstrap Fileinput */
.file-preview-frame {
    width: 46% !important;
}

/* mt ribbon with photo */
.photo-ribbon .ribbon {
    margin: -2px 0 0 10px !important;
    position: absolute !important;
}

/* Profile Icons */
.panel li a.red i {
    color: #e7505a !important;
}
.panel li a.red:hover i {
    color: #ffffff !important;
}
.panel li a.blue i {
    color: #3598dc !important;
}
.panel li a.blue:hover i {
    color: #ffffff !important;
}

/* Icon Btn Sortable */
.icon-btn-sortable-placeholder {
    height: 60px;
    width: 80px;
    border: 2px dashed #eee;
    margin-bottom: 25px;
}

/* List Items */
.mt-element-list .list-simple.mt-list-container ul > .mt-list-item > .list-item-content.parent {
    padding-left: 0 !important;
}

/* Quick Side Bar */
.page-quick-sidebar-wrapper a {
    color: #99a8b5 !important;
    text-decoration: none !important;
}
.page-quick-sidebar-wrapper li.media .media-body {
    vertical-align: inherit !important;
    width: inherit !important;
    height: 22px !important;
}