/* Theme Change and Theme Panel */
.theme-panel .theme-colors>li.theme-color-green .theme-color-view {
    background: #76BE1E;
}

/* Pace scroll edit */
.pace .pace-progress {
    top: 0;
}
.pace .pace-activity {
    top: 4px;
    z-index: 10000;
}

/* tinymce */
div.mce-fullscreen {
    z-index: 9995 !important;
}

/* Datatable */
.lmcDataTable .table-light > tbody > tr > td {
    vertical-align: top !important;
}

/* Bootstrap Touch Spin */
div.bootstrap-touchspin button.btn-outline {
    z-index: 3 !important;
}

/* colorbox */
#colorbox, #cboxOverlay {
    z-index: 10052 !important;
}

/* bootstrap dropdown scroll */
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/* cube portfolio */
.cbp-popup-singlePage-open, .cbp-popup-wrap {
    z-index: 10105!important;
}

/* Bootstrap Modal */
body.modal-open {
    overflow: hidden !important;
}

/* Bootstrap Fileinput */
.file-preview-frame {
    width: 46% !important;
}