/* Pace scroll edit */
.pace .pace-progress {
    top: 0;
}
.pace .pace-activity {
    top: 4px;
    z-index: 10000;
}

/* summernote */
.modal-dialog .modal-body .checkbox > label {
    padding-left: 20px !important;
}
div.note-editor .note-popover .popover-content .note-para .dropdown-menu, .panel-heading.note-toolbar .note-para .dropdown-menu {
    min-width: 225px !important;
}
div.note-editor .note-popover .popover-content .note-color .dropdown-menu, .panel-heading.note-toolbar .note-color .dropdown-menu {
    min-width: 170px !important;
}
.modal-open .modal {
    z-index: 10050 !important;
}
.note-popover.popover {
    z-index: 10050 !important;
}
/* Google Map search dropbox */
.pac-container {
    z-index: 10051 !important;
}

/* tinymce */
div.mce-fullscreen {
    z-index: 9995 !important;
}

/* Datatable */
.lmcDataTable .table-light > tbody > tr > td {
    vertical-align: top !important;
}

/* Bootstrap Touch Spin */
div.bootstrap-touchspin button.btn-outline {
    z-index: 3 !important;
}